# Dependências
node_modules/
.pnp
.pnp.js

# Variáveis de Ambiente & Segredos
.env
.env.local
.env.development.local
.env.test.local
.env.production.local

# Banco de Dados Local SQLite
data/*.sqlite
data/*.sqlite-wal
data/*.sqlite-shm
data/*.db

# Logs do Sistema e PM2
logs/
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Cache de Build e Temporários
.cache/
.parcel-cache/
.vercel
dist/
build/
coverage/

# Arquivos do Sistema Operacional
.DS_Store
Thumbs.db
Desktop.ini

# IDEs e Editores
.vscode/
.idea/
*.sublime-project
*.sublime-workspace

# Mídias locais e temporárias
WhatsApp Image*
WhatsApp Video*
*.mp4

